/* menu */

.menuDiv {
  position: relative;
  width: 1300px;
  left: 0;
  right: 0;
  margin: 80px auto 0px auto;
  color: #E6E6E6;
}

.menuDiv a:hover {
  text-decoration: underline;
}

.titleDiv {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  padding-left: 0;
}

.titleDiv.textPage {
  width: 250px;
}

.navDiv {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.navDiv, .titleDiv a {
  text-decoration: none;
  color: #E6E6E6;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* index */

.container {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  margin: 80px auto 0px auto; 
  width: 1300px;
  height: 600px;
  }

.container.choice {
  text-align: center;
  border: 1px solid #ccc;

}

.container.choice h1 {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #ccc;
}

/*div label input {
   margin-right:200px;
}*/

#ck-button {
    display: inline-block;
    margin:5px;
    background-color:#ccc;
    overflow:auto;
    border: 2px solid #333;
}

#ck-button:hover {
    transition: border 0.5s ease;
    border: 2px solid #911;
}

#ck-button label span {
    display: inline-block;
    width:300px;
    position: relative;
    text-align: center;
    padding: 40px 20px;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
  transition: background-color 0.5s;
  background-color:#911;
  color:#fff;
}

.button {
    display: inline-block;
    position: relative;
    left: 0;
    right: 0;
    margin: 50px auto;
    background-color: #911;
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #333;
}

.button:hover {
  transition: border 0.5s;
  border: 1px solid #ccc;
}

/* map */

#mapDiv {
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 600px;
}

#infoDiv {
  background-color: #f2f2f2;
  position: absolute;
  left: 1000px;
  top: 0px;
  width: 270px;
  height: 495px;
  padding: 15px 15px 90px 15px;
  text-align: left;
  color: #000;
}

#infoDiv h1 {
  margin-bottom: 0.2em;
}

#infoDiv a {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #aaa;
}

#linkDiv {
  display: block;
  text-decoration: none;
  color: #EBF4FA;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 270px;
  padding: 10px 0px;
  margin: 15px;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

/* texts */

#textDiv {
  position: relative;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  width: 700px;
  text-align: left;
  color: #EBF4FA;
  border: 1px solid #c8c8c8;
}

.linkBack {
  display: inline-block;
  text-decoration: none;
  background-color: #ccc;
  color: #333;
  width: 170px;
  padding: 10px 0px;
  margin: 5px;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* basic */

body {
  background: #333;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

h1 { 
  font-size: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  font-size: 1.2em;
  margin-top: 0em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

sub, sup {
  font-size: 0.83em;
  line-height: 0;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

/* choice menu */
